body{
    text-align: center;
    background-color: rgb(142, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
}
header {
    color: rgb(58, 212, 233);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

h2 {
    color: rgb(58, 212, 233);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

label {
    color: rgb(58, 212, 233);
    margin-left: 5%;
}

select {
    border: 1px solid rgb(58, 212, 233);
    border-radius: 5px;
    padding: 5px;
}

input {
    border: 1px solid rgb(58, 212, 233);
    border-radius: 5px;
    padding: 5px;
}

.div {
    background-color: white;
    border-radius: 5px;
}

.container {
    width: 1000px;
    background-color: rgb(178, 236, 240);
    color: rgb(16, 34, 192);
    display: flex;
    text-align: center;
    margin: 0 auto;
    border-radius: 3px;
    padding: 20px;
    height: 200px;
}

.item {
    background-color: rgb(93, 238, 231);
    width: 100px;
    height: 200px;
    border-radius: 1px;
    margin: 10px;
}